.aside{
    margin-top: 50px;
    &_list{
        &_title{
            font-size: 24px;
            font-weight: bold;
        }
        &_nav{
            &_ul{
                &_li{
                    margin-top: 10px;
                    font-size: 24px;
                }
            }
        }
        &_img{
            width: 400px;
            height: 300px;
            margin-top: 40px;
        }
        &_img2{
            width: 400px;
            height: 200px;
        }
    }
}