.main{
    &_section{
        display: flex;
        margin-top: 50px;
        margin-right: 150px;
        width: 1080px;
        border-bottom: rgb(0, 0, 0) 1px solid;
        &_img{
            width: 1300px;
            height: 300px;
        }
        &_box{
            margin-left: 20px;
        }
        &_title{
            font-size: 24px;
            font-weight: bold;
        }
        &_time{
            font-size: 16px;
            color: rgb(128, 128, 128);
        }
        &_letter{
            font-size: 24px;
            margin-top: 20px;
        }
        &_link{
            font-size: 24px;
            font-weight: bold;
            color: rgb(173, 255, 47);
            text-align: right;
        }
    }
}